@font-face {
    font-family: 'MyriadProRegular';
    src: url('../assets/fonts/Myriad Pro Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Novecentosanswide';
    src: url('../assets/fonts/Novecentosanswide-DemiBold.otf') format('truetype');
}


@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.ttf') format('truetype');
}


@font-face {
    font-family: 'HelveticaBold';
    src: url('../assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 16px;
}

button {
    background-color: #2ecc71;
    font-family: Novecentosanswide;
    font-size: 14px; 
    color: #fff;
}

.App {
	text-align: center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

@media (min-width: 320px) {
    .container {
        width: 300px;
    }
}

@media (min-width: 410px) {
    .container {
        width: 430px;
    }
}

@media (min-width: 479px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media screen and (max-width: 1252px) {

}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {

}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
    footer {
        margin-top: -15px;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}




