.NavHeader {
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
}

.NavHeader a {
	font-family: MyriadProRegular;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 45px;
	transition: color .4s;
}

.NavHeader a:hover, .NavHeader a:focus {
	color: #2ecc71!important;
}

.NavHeader a:visited {
	color: #a5a5a5;
}

.NavHeader a span {
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

@media screen and (max-width: 1252px) {

}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {

}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
  	.NavHeader {
		text-align: left;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
	.NavHeader {
		text-align: left;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
	}

	.NavHeader a {
		padding-left: 15px;
		padding-right: 15px;
	}
}