.Header {
	
}

.SocialNetworksWrapper {
	display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 'logo social';
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.SocialNetworks svg .filling {
	transition: fill .3s;
}

.SocialNetworks svg:hover .filling, .SocialNetworks svg:focus .filling {
	fill: #00bbf5;
}

.Logo {
	text-align: left;
	grid-area: logo;
}

.SocialNetworks {
	text-align: right;
	grid-area: social;
}

.break {
	border-top: rgba(218, 218, 218, 1);
}

@media screen and (max-width: 1252px) {

}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {

}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
  	
	.SocialNetworksWrapper {
		padding-top: 10px;
		grid-template-columns: 35% 65%;
		padding-bottom: 15px;
	}

	.Logo {
    	max-width: 100px;
    	height: auto;
	}
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
	.Logo svg {
		max-width: 130px;
	}
}