
.container-fluid.findOut {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #322F2F;
}

.container-fluid.copyright {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #EFEFEF;
}

.Message, .Copyright {
	text-align: left;
}

.FindOutWrapper {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    align-items: center;
}

.Message {
	color: #efefef;
	font-family: MyriadProRegular;
	font-size: 24px;
	margin-left: 10px;
	align-self: center;
}

.FindOutBtn {
	width: 220px;
	margin-top: 55px;
	margin-bottom: 55px;
	margin-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 22px;
	border: none;
	color: #f2f2f2;
	font-size: 14px;
    background-color: #2ecc71;
    justify-self: end;
    transition: background-color .3s, color .3s;
}

.FindOutBtn:hover, .FindOutBtn:focus {
	background-color: #34df7d;
	color: #fff;
}

.CopyrightWrapper {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    background-color: #efefef;
    align-items: center;
    color: #a5a5a5;
    text-transform: uppercase;
}

.Copyright {
	margin-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: MyriadProRegular;
	font-size: 12px;
}

.NavFooter {
	font-family: MyriadProRegular;
	padding-left: 0px;
}

.NavFooter a {
	font-size: 12px;
	text-decoration: none;
}

.NavFooter a:visited {
	color: #a5a5a5;
}

.NavFooter a span {
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

@media screen and (max-width: 1252px) {

}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {
	.CopyrightWrapper {
		grid-template-columns: 50% 50%;
	}
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
  	
	.FindOutWrapper {
	    grid-template-columns: 100%;
	    grid-template-rows: 50% 50%;
	}

	.Message {
		grid-column: 1 / 3;
		text-align: center;
	}

	.FindOutBtn {
		grid-column: 1 / 3;
		justify-self: center;
		margin-right: 0px;
	}

	.CopyrightWrapper {
		padding-top: 15px;
		padding-bottom: 15px;
		grid-template-columns: 100%;
	    grid-template-rows: 50% 50%;
		grid-template-areas: 'menu copyright';
	}

	.Copyright {
		grid-column: 1 / 3;
		margin-right: 0px;
		align-self: center;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
	.FindOutBtn {
		width: 220px;
		margin-top: 40px;
	}
}

